:root{
    --text-color-green : #87F54E;
    --text-color-white: #fff
}

body{
    background-image: url("../img/sapce.png");
}

.hide {
    display: none !important;
}

ul, li, body {
    padding: 0;
    margin: 0;
}

.preloader{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20%;
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url("../img/space-ship.png");
    background-size: 100%;
}
   

.preloader_ship{
    transform: scale(1);
    animation: ship 1s linear 1 forwards;
}

.flex{
    display: flex;
}

.header{
    justify-content: space-between;
}

.navigation {
    align-items: center;
    width: 30%;
}

.navigation li {
    width: 33%;
}
.navigation a{
    color: var(--text-color-green);
    text-decoration: none;
    font-size: 2rem;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.location{
color: var(--text-color-white);
align-items: center;
}
.location-planet > img{
    position: relative;
    left: -15%;
    animation: rotate 20s linear infinite;
}
.location > div:nth-child(1){
    flex-grow: 1;
}
.location > div:nth-child(2){
    flex-grow: 5;
}

.planet-information > div {
    margin-bottom: 1rem;
    font-size: 1.5rem;
} 

.planet-information > div > div:nth-child(2)::before{
display: inline-flex;
content : "*";
align-items: center;
justify-content: center;
margin-right: 1rem;
}
.characters{
    flex-direction: row;
}
.btns-data{
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
}
.btns-data button{
    background-color: #92fb5e8a;
    color: black;
    font-weight: bold;
    width: 40%;
    border: none;
    box-sizing: border-box;
    padding: 1.5rem 0;
}

.body{
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px 5%
}
.card{
    width: 30%;
    border-radius: 8px 8px 16px 16px;
    position: relative;
    background-color: var(--text-color-green);
    overflow: hidden;
}

.bold{
    font-weight: bold;
}

.card button{
    position: absolute;
    top: 0;
    left: 0;
}
.characters-iformation{
    color: black;
    padding: 1rem;
    padding-bottom: 3rem;

}

@keyframes ship {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}